            {%- assign social_links = "" | split: "" -%}
            {%- if site.email -%}
              {%- capture link %}<a href="mailto:{{ site.email | encode_email }}">Email</a>{% endcapture -%}
              {%- assign social_links = social_links | push: link -%}
            {%- endif -%}
            {%- if site.linkedin_username -%}
              {%- capture link %}<a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">LinkedIn</a>{% endcapture -%}
              {%- assign social_links = social_links | push: link -%}
            {%- endif -%}
            {%- if site.scholar_userid -%}
              {%- capture link %}<a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}">Google Scholar</a>{% endcapture -%}
              {%- assign social_links = social_links | push: link -%}
            {%- endif -%}
            {%- if site.twitter_username -%}
              {%- capture link %}<a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>{% endcapture -%}
              {%- assign social_links = social_links | push: link -%}
            {%- endif -%}
            {%- if site.github_username -%}
              {%- capture link %}<a href="https://github.com/{{ site.github_username }}">GitHub</a>{% endcapture -%}
              {%- assign social_links = social_links | push: link -%}
            {%- endif -%}
            {%- if site.orcid_id -%}
              {%- capture link %}<a href="https://orcid.org/{{ site.orcid_id }}">ORCID</a>{% endcapture -%}
              {%- assign social_links = social_links | push: link -%}
            {%- endif -%}
            {%- if site.research_gate_profile -%}
              {%- capture link %}<a href="https://www.researchgate.net/profile/{{ site.research_gate_profile }}/">ResearchGate</a>{% endcapture -%}
              {%- assign social_links = social_links | push: link -%}
            {%- endif -%}
            {%- if site.dblp_url -%}
              {%- capture link %}<a href="{{ site.dblp_url }}">DBLP</a>{% endcapture -%}
              {%- assign social_links = social_links | push: link -%}
            {%- endif -%}
            {%- if site.medium_username -%}
              {%- capture link %}<a href="https://medium.com/@{{ site.medium_username }}">Medium</a>{% endcapture -%}
              {%- assign social_links = social_links | push: link -%}
            {%- endif -%}
            {%- if site.gitlab_username -%}
              {%- capture link %}<a href="https://gitlab.com/{{ site.gitlab_username }}">GitLab</a>{% endcapture -%}
              {%- assign social_links = social_links | push: link -%}
            {%- endif -%}
            {%- if site.stackoverflow_id -%}
              {%- capture link %}<a href="https://stackoverflow.com/users/{{ site.stackoverflow_id }}">Stack Overflow</a>{% endcapture -%}
              {%- assign social_links = social_links | push: link -%}
            {%- endif -%}
            {%- capture link %}<a href="{{ 'assets/pdf/Anas_cv.pdf' | relative_url }}">CV</a>{% endcapture -%}
            {%- assign social_links = social_links | push: link -%}
            {{ social_links | join: " / " }}
